asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
attrs==26.1.0
backcall==0.2.0
beautifulsoup4==4.15.0
bleach==6.4.0
blinker==1.9.0
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contourpy==1.3.2
cycler==0.12.1
debugpy @ file:///D:/bld/bld/rattler-build_debugpy_1780390184/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1779115150916/work
defusedxml==0.7.1
dill==0.4.1
docopt==0.6.2
-e git+https://github.com/erickgathinji/dsproject.git@4aed4653b148baa5bb98b2fcfa7446c98b8dcaab#egg=dsproject
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
fastjsonschema==2.21.2
Flask==3.1.3
fonttools==4.63.0
graphviz==0.21
idna==3.18
ipykernel @ file:///D:/bld/bld/rattler-build_ipykernel_1770566174/work
ipython==8.12.3
itsdangerous==2.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1780678109/work
jupyter_core @ file:///D:/bld/bld/rattler-build_jupyter_core_1760643889/work
jupyterlab_pygments==0.3.0
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.10.9
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1778264321245/work
mistune==3.3.2
narwhals==2.22.1
nbclient==0.11.0
nbconvert==7.17.1
nbformat==5.10.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
numpy==2.2.6
packaging==26.0
pandas==2.3.3
pandocfilters==1.5.1
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1777722955/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==12.2.0
pipreqs==0.5.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1779972894/work
plotly==6.8.0
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
psutil @ file:///D:/bld/bld/rattler-build_psutil_1769678167/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
pyparsing==3.3.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz==2026.2
pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1779222947/work
pyzmq @ file:///D:/bld/bld/rattler-build_pyzmq_1779483930/work
referencing==0.37.0
requests==2.34.2
rpds-py==0.30.0
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
soupsieve==2.8.4
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
threadpoolctl==3.6.0
tinycss2==1.5.1
tornado @ file:///D:/bld/tornado_1779915910048/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_traitlets_1780507822/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata==2026.2
urllib3==2.7.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1780736829341/work
webencodings==0.5.1
Werkzeug==3.1.8
yarg==0.1.9





# pandas
# numpy
# seaborn
# matplotlib
# scikit-learn
# # catboost
# # xgboost
# dill
# Flask
# # -e .